.faq  {
  padding-top: 80px;
}
.faq .head {
  display: flex;
  justify-content: start;
  align-items: flex-end;
}
.faq .head svg {
  width: 169px;
  height: 80px;
}
.faq .head svg path {
  fill: var(--white);
}
.faq .head h1 {
  font-size: 60px;
  font-weight: 800;
  letter-spacing: -6px;
  margin: 0;
  text-transform: uppercase;
  color: var(--white);
}
/* bio style */
.faq .bio {
  background-color: var(--light-black);
  padding: 10px;
  font-weight: 700;
  font-size: 55px;
  text-transform: uppercase;
  width: 800px;
  margin: 100px auto;
  line-height: 1;
}
/* questionandanswer style */
.faq .questionandanswer {
  margin: 100px 0;
}
.faq .questionandanswer h2.h2 {
  text-align: center;
  font-size: 40px;
  font-weight: 700;
  margin-bottom: 50px;
  text-transform: uppercase;
}
/* accordion edit style */
.accordion {
  --bs-accordion-active-color: var(--light-blue);
}
.accordion-item {
  color: var(--white);
  background-color: var(--light-black);
  border: 1px solid var(--half-white);
}
.accordion-item > .accordion-header .accordion-button {
  background-color: var(--gray);
  color: var(--white);
}
.accordion-button::after {
  --bs-accordion-btn-icon: url(data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 16 16' fill='%2338bbff'%3e%3cpath fill-rule='evenodd' d='M1.646 4.646a.5.5 0 0 1 .708 0L8 10.293l5.646-5.647a.5.5 0 0 1 .708.708l-6 6a.5.5 0 0 1-.708 0l-6-6a.5.5 0 0 1 0-.708z'/%3e%3c/svg%3e);
  --bs-accordion-btn-active-icon: url(data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 16 16' fill='%2338bbff'%3e%3cpath fill-rule='evenodd' d='M1.646 4.646a.5.5 0 0 1 .708 0L8 10.293l5.646-5.647a.5.5 0 0 1 .708.708l-6 6a.5.5 0 0 1-.708 0l-6-6a.5.5 0 0 1 0-.708z'/%3e%3c/svg%3e);
}
.accordion-button:not(.collapsed) {
  color: var(--white);
  background-color: var(--light-black);
  box-shadow: inset 0 calc(-1* var(--bs-accordion-border-width)) 0 white;
}
/* media query of faq */
@media (max-width: 767px) {
  .faq .head svg{
    height: 62px;
  }
  .faq .head h1 {
    font-size: 52px;
  }
  .faq .bio {
    width: 300px;
    font-size: 35px;
  }
}