.landing {
  position: relative;
}
/* start style for img of the img slider */
.landing img {
  width: 100%;
  height: 100vh;
  object-fit: cover;
  user-select: none;
}
/* end style for img of the img slider */
.about, /* white spacig of the home page */
.services,
.testimonials,
.contactus {
  padding: 60px 0;
}
/* arrows icon style so i can change its color in light & dark mode */
.about .container svg,
.services .container svg,
.testimonials .container svg {
  width: 80px;
  height: 48px;
}
.about .container svg path,
.services .container svg path,
.testimonials .container svg path {
  fill: var(--white);
}
/* start about section */
.about .content {
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  margin-top: 48px;
  padding: 0 48px;
}
.about .content p {
  width: 50%;
  background-color: var(--light-black);
  padding: 10px;
  font-size: 30px;
  text-transform: uppercase;
  z-index: 3;
  position: relative;
  left: 150px;
  top: 10px;
}
.about .content .photos{
  position: relative;
}
.about .content .photos img{
  width: 400px;
}
.about .content .photos img:first-child {
  transform: translate(400px, 10px);
}
.about .content .photos img:nth-child(2) {
  transform: translate(-35px, 200px);
  position: relative;
  z-index: 2;
}
.about .content .photos img:last-child {
  transform: translate(85px, -195px);
}
/* media queary about section */
@media (max-width: 1399px) {
  .about .content {
    flex-direction: column;
  }
  .about .content p{
    width: 100%;
    left: 0;
    top: 0;
  }
  .about .content .photos {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 18px;
  }
  .about .content .photos img:first-child {
    transform: translate(0px, 0px);
  }
  .about .content .photos img:nth-child(2) {
    transform: translate(0px, 0px);
  }
  .about .content .photos img:last-child {
    transform: translate(0px, 0px);
  }
}
@media (max-width: 767px) {
  .about .content p{
    width: 330px;
    font-size: 22px;
    text-align: center;
  }
  .about .content .photos img{
    width: 330px;
  }
}
/* end about section */
/* start services section*/
.services .content {
  margin: 0 auto;
  padding: 80px 0;
  margin-top: 48px;
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(350px, 1fr));
  grid-gap: 20px;
  justify-content: center;
  align-items: center;
  justify-items: center;
}
.services .box {
  background-color: var(--light-black);
  text-align: start;
  padding: 33px 20px;
  width: 350px;
  border-top: 3px solid var(--light-blue);
  position: relative;
}
.services .box img {
  width: 37px;
  height: 37px;
  object-fit: contain;
  margin-bottom: 25px;
}
.services .box h4 {
  text-transform: uppercase;
  font-weight: 700;
  font-size: 20px;
  margin-bottom: 20px;
}
.services .box p {
  font-size: 17px;
  color: var(--half-white);
}
/* end services section*/
/* start sontact */
.contactus {
  background-color: var(--light-black);
  text-align: center;
}
.contactus h2 {
  font-weight: 700;
  font-size: 40px;
}
.contactus p {
  color: var(--half-white);
  margin-bottom: 40px;
}
.contactus a {
  text-decoration: none;
  color: black;
  background-color: var(--light-blue);
  padding: 15px 30px;
  border-radius: 10px;
  transition: opacity 0.4s;
}
.contactus a:hover {
  opacity: 0.7;
}
/* end sontact */
/* start testimonials section*/
@media (max-width: 767px) {
  .testimonials .container h1 {
    font-size: 22px;
  }
}
/* end testimonials section*/